.container{
  width: 102rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.text-center{
  text-align: center;
}

.clearfix::before,
.clearfix::after {
  content: '';
  display: table;
}


.clearfix::after,
.container::after,
.row::after{
  clear: both;
}